# Páginas para programar python

1. www.mybinder.org
2. www.kaggle.com
3. www.jupyter.org/try
4. `github jobish` https://mybinder.org/v2/gh/jobish03/jobish03-Visualizacion_de_datos_para_la_toma_de_decisiones/main?filepath=welcome_binder.ipynb

Los paquetes hay que incluir en el archivo `requirements.txt`

In [1]:
pip install seaborn

Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.4)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%ls

00_00_binder.ipynb                    Clase1.ipynb
00_00_primer_pasos.ipynb              Clase5.ipynb
01_01_data_types.ipynb                datasets/
01_02_read_iloc_unique_groupby.ipynb  players_fifa21.csv
02_00_data_wrangling.ipynb            Proyecto.ipynb
02_01_null_display.ipynb              README.md
02_02_basic_math.ipynb                requirements.txt

In [4]:
df = pd.read_csv('players_fifa21.csv')
df.head(6)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,24/06/1987,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,05/02/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,07/01/1993,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,21/08/1988,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,05/02/1992,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,29,28/06/1991,181,70,Belgium,Manchester City,...,79+3,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3

In [5]:
df.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club_name',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=106)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Columns: 106 entries, sofifa_id to rb
dtypes: float64(15), int64(48), object(43)
memory usage: 25.0+ KB

In [7]:
df = df.drop(['sofifa_id', 'player_url','long_name','dob','lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'], axis=1)
df.head()

,short_name,age,height_cm,weight_kg,nationality,club_name,league_name,league_rank,overall,potential,...,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm
0,L. Messi,33,170,72,Argentina,FC Barcelona,Spain Primera Division,1,93,93,...,93+0,92+0,93+0,93+0,93+0,91+2,87+3,87+3,87+3,91+2
1,Cristiano Ronaldo,35,187,83,Portugal,Juventus,Italian Serie A,1,92,92,...,91+0,89+0,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3
2,J. Oblak,27,188,87,Slovenia,Atlético Madrid,Spain Primera Division,1,91,93,...,35+0,32+0,38+3,38+3,38+3,35+3,38+3,38+3,38+3,35+3
3,R. Lewandowski,31,184,80,Poland,FC Bayern München,German 1. Bundesliga,1,91,91,...,87+0,85+0,85+3,85+3,85+3,83+3,79+3,79+3,79+3,83+3
4,Neymar Jr,28,175,68,Brazil,Paris Saint-Germain,French Ligue 1,1,91,91,...,89+0,90+0,90+1,90+1,90+1,90+1,83+3,83+3,83+3,90+1

In [8]:
df.columns

Index(['short_name', 'age', 'height_cm', 'weight_kg', 'nationality',
       'club_name', 'league_name', 'league_rank', 'overall', 'potential',
       'value_eur', 'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'body_type', 'real_face', 'release_clause_eur', 'player_tags',
       'team_position', 'team_jersey_number', 'loaned_from', 'joined',
       'contract_valid_until', 'nation_position', 'nation_jersey_number',
       'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'player_traits', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs',
       'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
       'rcm', 'rm'],
      dtype='object')

In [9]:
df = df.drop(['league_rank','wage_eur','player_positions','ls', 'st', 'rs','lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 
              'preferred_foot','international_reputation', 'weak_foot', 'skill_moves', 'work_rate','cm','rcm', 'rm','body_type', 'real_face', 
              'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from','joined','contract_valid_until', 
              'nation_position', 'nation_jersey_number','gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 
              'player_traits', 'attacking_crossing','attacking_finishing', 'attacking_heading_accuracy','attacking_short_passing', 'attacking_volleys', 
              'skill_dribbling','skill_curve', 'skill_fk_accuracy', 'skill_long_passing','skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
              'movement_agility', 'movement_reactions', 'movement_balance','power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
              'power_long_shots', 'mentality_aggression', 'mentality_interceptions','mentality_positioning', 'mentality_vision', 'mentality_penalties',
              'mentality_composure', 'defending_marking', 'defending_standing_tackle','defending_sliding_tackle', 'goalkeeping_diving','goalkeeping_handling', 
              'goalkeeping_kicking','goalkeeping_positioning', 'goalkeeping_reflexes'], axis=1)
df.head()

,short_name,age,height_cm,weight_kg,nationality,club_name,league_name,overall,potential,value_eur,pace,shooting,passing,dribbling,defending,physic
0,L. Messi,33,170,72,Argentina,FC Barcelona,Spain Primera Division,93,93,67500000,85.0,92.0,91.0,95.0,38.0,65.0
1,Cristiano Ronaldo,35,187,83,Portugal,Juventus,Italian Serie A,92,92,46000000,89.0,93.0,81.0,89.0,35.0,77.0
2,J. Oblak,27,188,87,Slovenia,Atlético Madrid,Spain Primera Division,91,93,75000000,NaN,NaN,NaN,NaN,NaN,NaN
3,R. Lewandowski,31,184,80,Poland,FC Bayern München,German 1. Bundesliga,91,91,80000000,78.0,91.0,78.0,85.0,43.0,82.0
4,Neymar Jr,28,175,68,Brazil,Paris Saint-Germain,French Ligue 1,91,91,90000000,91.0,85.0,86.0,94.0,36.0,59.0

In [10]:
df = df.dropna()
df.head()

,short_name,age,height_cm,weight_kg,nationality,club_name,league_name,overall,potential,value_eur,pace,shooting,passing,dribbling,defending,physic
0,L. Messi,33,170,72,Argentina,FC Barcelona,Spain Primera Division,93,93,67500000,85.0,92.0,91.0,95.0,38.0,65.0
1,Cristiano Ronaldo,35,187,83,Portugal,Juventus,Italian Serie A,92,92,46000000,89.0,93.0,81.0,89.0,35.0,77.0
3,R. Lewandowski,31,184,80,Poland,FC Bayern München,German 1. Bundesliga,91,91,80000000,78.0,91.0,78.0,85.0,43.0,82.0
4,Neymar Jr,28,175,68,Brazil,Paris Saint-Germain,French Ligue 1,91,91,90000000,91.0,85.0,86.0,94.0,36.0,59.0
5,K. De Bruyne,29,181,70,Belgium,Manchester City,English Premier League,91,91,87000000,76.0,86.0,93.0,88.0,64.0,78.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 29
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   short_name   23 non-null     object
 1   age          23 non-null     int64
 2   height_cm    23 non-null     int64
 3   weight_kg    23 non-null     int64
 4   nationality  23 non-null     object
 5   club_name    23 non-null     object
 6   league_name  23 non-null     object
 7   overall      23 non-null     int64
 8   potential    23 non-null     int64
 9   value_eur    23 non-null     int64
 10  pace         23 non-null     float64
 11  shooting     23 non-null     float64
 12  passing      23 non-null     float64
 13  dribbling    23 non-null     float64
 14  defending    23 non-null     float64
 15  physic       23 non-null     float64
dtypes: float64(6), int64(6), object(4)
memory usage: 3.1+ KB

In [24]:
#df.describe()

In [13]:
print(df)

             short_name  age  height_cm  weight_kg  nationality  \
0              L. Messi   33        170         72    Argentina
1     Cristiano Ronaldo   35        187         83     Portugal
3        R. Lewandowski   31        184         80       Poland
4             Neymar Jr   28        175         68       Brazil
5          K. De Bruyne   29        181         70      Belgium
6             K. Mbappé   21        178         73       France
8           V. van Dijk   28        193         92  Netherlands
10              S. Mané   28        175         69      Senegal
11             M. Salah   28        175         71        Egypt
13            S. Agüero   32        173         70    Argentina
14         Sergio Ramos   34        184         82        Spain
15           K. Benzema   32        185         81       France
17             Casemiro   28        185         84       Brazil
19          R. Sterling   25        170         69      England
20           J. Kimmich   25        176         73      Germany
21              H. Kane   26        188         89      England
22            P. Dybala   26        177         75    Argentina
24             T. Kroos   30        183         76      Germany
25            E. Hazard   29        175         74      Belgium
26         K. Koulibaly   29        187         89      Senegal
27             N. Kanté   29        168         70       France
28            J. Sancho   20        180         76      England
29  T. Alexander-Arnold   21        180         69      England

              club_name             league_name  overall  potential  \
0          FC Barcelona  Spain Primera Division       93         93
1              Juventus         Italian Serie A       92         92
3     FC Bayern München    German 1. Bundesliga       91         91
4   Paris Saint-Germain          French Ligue 1       91         91
5       Manchester City  English Premier League       91         91
6   Paris Saint-Germain          French Ligue 1       90         95
8             Liverpool  English Premier League       90         91
10            Liverpool  English Premier League       90         90
11            Liverpool  English Premier League       90         90
13      Manchester City  English Premier League       89         89
14          Real Madrid  Spain Primera Division       89         89
15          Real Madrid  Spain Primera Division       89         89
17          Real Madrid  Spain Primera Division       89         89
19      Manchester City  English Premier League       88         90
20    FC Bayern München    German 1. Bundesliga       88         90
21    Tottenham Hotspur  English Premier League       88         89
22             Juventus         Italian Serie A       88         89
24          Real Madrid  Spain Primera Division       88         88
25          Real Madrid  Spain Primera Division       88         88
26               Napoli         Italian Serie A       88         88
27              Chelsea  English Premier League       88         88
28    Borussia Dortmund    German 1. Bundesliga       87         93
29            Liverpool  English Premier League       87         92

    value_eur  pace  shooting  passing  dribbling  defending  physic
0    67500000  85.0      92.0     91.0       95.0       38.0    65.0
1    46000000  89.0      93.0     81.0       89.0       35.0    77.0
3    80000000  78.0      91.0     78.0       85.0       43.0    82.0
4    90000000  91.0      85.0     86.0       94.0       36.0    59.0
5    87000000  76.0      86.0     93.0       88.0       64.0    78.0
6   105500000  96.0      86.0     78.0       91.0       39.0    76.0
8    75500000  76.0      60.0     71.0       71.0       91.0    86.0
10   78000000  94.0      85.0     80.0       90.0       44.0    76.0
11   78000000  93.0      86.0     81.0       90.0       45.0    75.0
13   53000000  78.0      90.0     77.0       88.0       33.0    73.0
14   24500000  71.0      70.0     76.0       73.0       88.0    85.0
15   53000000  74.0      85.0     81.0       86.0       40.0    76.0
17   59500000  65.0      73.0     76.0       72.0       86.0    91.0
19   72500000  93.0      81.0     79.0       90.0       45.0    67.0
20   65000000  71.0      72.0     86.0       84.0       81.0    79.0
21   71000000  68.0      91.0     80.0       80.0       47.0    83.0
22   71000000  85.0      85.0     84.0       92.0       43.0    63.0
24   55000000  54.0      81.0     91.0       81.0       71.0    69.0
25   58000000  88.0      82.0     83.0       92.0       35.0    66.0
26   50000000  75.0      28.0     55.0       68.0       89.0    86.0
27   51000000  77.0      66.0     76.0       81.0       86.0    82.0
28   69500000  83.0      74.0     81.0       91.0       37.0    64.0
29   60000000  80.0      66.0     87.0       80.0       80.0    71.0

In [17]:
#df['value_eur'].plot(kind='hist', figsize=(15,8))

In [19]:
#Existe una correlación entre la edad y el overall

In [20]:
#Los jugadores de La Liga son mejores que los jugadores de la Premier League

In [21]:
#Los jugadores argentinos son mejores que los ingleses

In [22]:
#En la variable defensa existe un sesgo a la izquierda, debido a que los mejores ratings pertenecen a delanteros y medios

In [23]:
#El valor promedio de los jugadores de la serie A es mayor al de la Bundesliga