### Quiz 2

	• Escribe el nombre que caracteriza el conjunto de datos
        FIFA 21: base de datos de los jugadores completa
	• Escribe el organismo que lo generó
        Videojuego FIFA
	• Incluye un enlace de Internet de dónde se pueden descargar en línea y envíalo como una hoja de cálculo junto con su informe correspondiente.
        https://www.kaggle.com/stefanoleone992/fifa-21-complete-player-dataset
        Las bases de datos proveidas incluyen los datos de los jugadores para el Modo Carrera del videojuego FIFA21 ("players_21.csv"). Los datos permiten multiples comparaciones de 
        los jugadores durante las últimas 7 versiones del videojuego.
	• Describe el conjunto de datos. ¿Qué datos contiene?
        Atributos de los jugadores, posiciones y roles en equipos de club y nacionales, estadísticas sobre las variables Attacking, Skills, Defense, Mentality, GK Skills, etc. E 
        información personal del jugador
	• Normalmente, los datos tienen un identificador que se incluye en el encabezado de la columna correspondiente. ¿Qué identificador no tiene claro su significado?¿Cómo podrías investigarlo?
        Todos las columnas tienen un identificador que es explicado en la página de kaggle, por lo que no debe haber problema para su entendimiento.
	• ¿Cuáles son algunas de las preguntas podrías responder con estos datos? Enumera al menos tres (no respondas a las preguntas).
        ¿Cuál es el costo máximo de un jugador?
        ¿Qué liga tiene mejores habilidades defensivas?
        ¿Qué posición tiene mejor overall?
	• Pregunta de investigación (de interés). 
        ¿Existe alguna correlación entre las habilidades y la edad?
	• ¿Qué stakeholder (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas que identificaste en el punto 6?
        Cualquier sector dedicado al deporte, sobre todo los clubes de futbol profesional

#### En python, el typo de 4.0 es:

In [2]:
type(4.0)

float

#### Typo de True es:

In [3]:
type(True)

bool

#### Si datafile = "datasets/Cartwheeldata.csv" y a = pd.read_csv(datafile) entonces tipo de a es ?

In [5]:
import pandas as pd

In [7]:
datafile = "datasets/Cartwheeldata.csv"

a = pd.read_csv(datafile)
type(a)

pandas.core.frame.DataFrame

#### Si  df.columns es: ... como puedo seleccionar solo columnas: 'CWDistance', 'Complete', 'CompleteGroup', 'Score'

In [8]:
a.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [13]:
a.iloc[:, 8:]

    CWDistance Complete  CompleteGroup  Score
0           79        Y              1      7
1           70        Y              1      8
2           85        Y              1      7
3           87        Y              1     10
4           72        N              0      4
5           81        N              0      3
6          107        Y              1     10
7           98        Y              1      9
8          106        N              0      5
9           65        Y              1      8
10          96        Y              1      6
11          79        Y              1     10
12          92        Y              1      6
13          66        Y              1      4
14          72        Y              1      9
15         115        Y              1      6
16          90        N              0     10
17          74        Y              1      5
18          64        Y              1      3
19          85        Y              1      8
20          66        N              0      2
21         101        Y              1      8
22          82        Y              1      4
23          63        Y              1      5
24          67        N              0      3

In [14]:
a.iloc[:, -4:]

    CWDistance Complete  CompleteGroup  Score
0           79        Y              1      7
1           70        Y              1      8
2           85        Y              1      7
3           87        Y              1     10
4           72        N              0      4
5           81        N              0      3
6          107        Y              1     10
7           98        Y              1      9
8          106        N              0      5
9           65        Y              1      8
10          96        Y              1      6
11          79        Y              1     10
12          92        Y              1      6
13          66        Y              1      4
14          72        Y              1      9
15         115        Y              1      6
16          90        N              0     10
17          74        Y              1      5
18          64        Y              1      3
19          85        Y              1      8
20          66        N              0      2
21         101        Y              1      8
22          82        Y              1      4
23          63        Y              1      5
24          67        N              0      3